@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-4">Architecture MVC</h1>
    <p class="lead">Bienvenue a cet exemple illustrative de l'architecture MVC.</p>
    <hr class="my-4">
    <p>
         <a href="https://www.cegepshawinigan.ca"></a> Cette Demo permet dillustrer larchitecture MVC. Elle est realise en
        Asp.net et permet de repertorier les CEGEPS existants au CANADA.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir Plus</a>
    </p>
</div>
